.category {
  margin: 0.1 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 10em;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--secondary-color);
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.category p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

@media (max-width: 768px) {
  .category-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .category {
    margin: 0.5rem 0;
    padding: 0.5rem;
    max-width: none;
  }

  .category p {
    font-size: 0.9rem;
  }
}

.category:hover,
.category.active {
  transform: scale(1.05);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.category:hover p,
.category.active p {
  color: var(--secondary-color);
}

@media (hover: hover) {
  .category:hover,
  .category.active {
    transform: scale(1.1);
    background-color: var(--primary-color);
  }

  .category:hover p,
  .category.active p {
    color: var(--secondary-color);
  }
}
