/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Add the following styles to your existing CSS */
.footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #312F2F;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  display: inline-block;
  margin-right: 15px;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
}
