.startButton {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 1em 10em;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.startButton.active:hover {
  transform: scale(1.1);
}

.startButton.inactive {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
