h1 {
  font-size: 1.8em;
  color: var(--secondary-color);
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header a,
/* header ul, */
header li {
  text-decoration: none;
  list-style: none;
  padding: 1em;
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

header {
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
}
