.about-container {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    border: 2px solid #ddd; 
    border-radius: 10px;
    margin-top: 15%; 
  }
  
  .about-content {
    line-height: 1.6; 
  }
  
  .about-content h1 {
    margin-bottom: 20px; 
  }
  
  /* Additional style to keep the header at the top */
  Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

p, a{
    font-size: 1.3rem;
    text-decoration: none;

}